
#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}

#textInput {
    width: 95%;
    height: 5rem;
    border-radius: 10px;
    padding: 15px;
    z-index: 5;
    font-size: 2rem;
    margin-top: 25px;
}